/* CONTAINERS */

.container-small{
    min-width: 58px;
}

/* UTILITIES */

.flex-grow-3{
    flex-grow: 3;
}

.flex-grow-5{
    flex-grow: 5;
}

/* ASIDE */

aside input{
    background-color: var(--grey);
    line-height: 40px;
}

.mobile-logo{
    max-width: 44px;
}

/* SIDEBAR */

.sidebar{
    background-color: var(--dark-blue);
    background-image: url(../img/sidebar-bg.png);
    padding: 30px 10px;
}

.sidebar a{
    text-decoration: none;
    color: white;
    align-items: center;
    min-height: 27px;
}

.sidebar a i{
    width: 20px ;
}

.sidebar a span{
    font-weight: 400;
    font-size: 18px;
}

/* NAVBAR */

.my-style-navbar{
    background-color: var(--blue);
    padding: 25px 0;
}

.my-style-navbar span{
    background-color: var(--badge-blue);
    color: var(--dark-white);
}

.my-style-navbar i{
    font-size: 13px;
}

.my-style-navbar h4{
    font-size: 14px;
}

.my-style-navbar h3{
    font-size: 30px;
}

.my-style-navbar button{
    aspect-ratio: 1 / 1;
    width: fit-content;
}

.boolean-tags,
.online-students,
.new-student{
    width:100%
}

.new-student{
    order: -1;
}

/* PALETTE */

:root{
    --grey: #E5E5E5;
    --dark-blue: #051E34;
    --blue: #1B72E8;
    --badge-blue: #165BBA;
    --dark-white: #F6F8FC;
}

/* RESPONSIVE */

@media (min-width: 576px){
    .boolean-tags,
    .online-students,
    .new-student{
        width:auto;
    }
    .new-student{
        order: 1;
    }
}

@media (min-width:768px){
    .container-small{
        width: 140px;
    }
    .sidebar a{
        padding-left: 10px;
    }
}

/* .debug{
    background-color: aquamarine;
} */

.debug aside{
    height: 100px;
    background-color: cornflowerblue;
}

.debug .sidebar{
    background-color: tomato;
}

.debug .main-content{
    background-color: lawngreen;
}

.debug .my-style-navbar{
    background-color: darkslategrey;
    min-height: 75px;
}

.debug [class^="col"]{
    border: 2px solid green;
}