/* CONTAINERS */

.container-max{
    padding: 0 10px;
    width: 100%;
}

.container-small{
    width: 58px;
}

/* ASIDE */

aside input{
    background-color: var(--grey);
    line-height: 40px;
}

.mobile-logo{
    max-width: 44px;
}

/* SIDEBAR */

.sidebar{
    background-color: var(--dark-blue);
    background-image: url(../img/sidebar-bg.png);
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidebar a{
    text-decoration: none;
    color: white;
    align-items: center;
    min-height: 27px;
}

.sidebar a i{
    width: 20px ;
}

.sidebar a span{
    font-weight: 400;
    font-size: 18px;
}

/* PALETTE */

:root{
    --grey: #E5E5E5;
    --dark-blue: #051E34;
}

/* RESPONSIVE */

@media (min-width:768px){
    .container-small{
        width: 140px;
    }
    .sidebar a{
    padding-left: 10px;
    }
}

/* .debug{
    background-color: aquamarine;
} */

.debug aside{
    height: 100px;
    background-color: cornflowerblue;
}

.debug .sidebar{
    background-color: tomato;
}

.debug .main-content{
    background-color: lawngreen;
}

.debug .my-style-navbar{
    background-color: darkslategrey;
    min-height: 75px;
}

.debug [class^="col"]{
    border: 2px solid green;
}